<p>Bună, <%= @email %>!</p>

<p>Îți mulțumim pentru înregistrare. Te rugăm să confirmi adresa de email apăsând pe link-ul de mai jos:</p>

<p><%= link_to 'Confirmă contul meu', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Dacă nu ai creat un cont pe site-ul nostru, te rugăm să ignori acest email.</p>
