<h1>Detalii categorie</h1>

<p><strong>ID:</strong> <%= @category.id %></p>
<p><strong>Nume:</strong> <%= @category.name %></p>
<p><strong>Slug:</strong> <%= @category.slug %></p>

<%= link_to "Înapoi", categories_index_products_path, class: "btn btn-secondary mt-3" %>
